/*
 * author: sam mok 狼哥哥,
 * begin at: 2014年9月26日 15:27:54 AM ;
 * end at: ;
*/
/* Main Begain */

/* 页面导航 */
.m_subMenu{}
.m_subMenu ul{ display: -webkit-box;}
.m_subMenu li{ -webkit-box-flex: 1; border-left: 1px solid #a0a0a0;}
.m_subMenu li:first-child{ border-left: none;}
.m_subMenu li.current a{ padding-bottom: 0; border-bottom: 5px solid #5db23d;}
.m_subMenu li a{ display:block; line-height: 30px; text-align: center; background: #fff; padding: 5px 0;}
.m_subMenu li a:hover,
.m_subMenu li a:active{ text-decoration: none;}
/* 页面导航 end */

/* Page:症状自查 */
.m_tab_borderBottom .am-tab-panel.am-active{ padding: 0;}
.m_tab_borderBottom .arcList li{ display: -webkit-box; float:left; width: 50%; padding: 0 0 0 5%;  border-bottom: 1px solid #b3b3b3;}
.m_tab_borderBottom .arcList li *{ display: block;}
.m_tab_borderBottom .arcList li i{ width: 8px; line-height: 40px; margin-right: 8px; background: url("../../../public/images/bg_listStyle_strongArrow.png") no-repeat 0 center; background-size: 8px 12px;}
.m_tab_borderBottom .arcList li a{ -webkit-box-flex: 1; line-height: 40px; color: #595757;}

/* 分类查找 */
.m_categoryFind{}
.categoryFind_hd{ background: #ffffff;}
.categoryFind_hd h2{ display: inline-block; line-height: 35px; color: #5db23d; font-size: 1.8rem; margin-bottom: 0; padding: 0 10px 0 5%; border-bottom: 4px solid #5db23d;}
.categoryFind_bd{}
.categoryFind_bd dt{ font-size: 18px; color: #000; padding-left: 25px; background: url("../../../public/images/img_listStyle_greenSquare.png") no-repeat left center; background-size: 12px 12px;}
.categoryFind_bd dt span{ color: #ff7200;}
/* 分类查找 end */

/* Page:症状自查 end */

/* Page:病因 */
.m_arcDetail{}
.arcDetail_hd{ padding: 25px 5% 10px 5%;}
.arcDetail_hd h1{ margin-bottom: 0; font-size: 20px; color: #5db23d;}
.arcDetail_bd{ padding: 15px;}
.arcDetail_bd *{ color: #898989; line-height: 18px; margin-bottom: 15px;}
/* Page:病因 end */

/* Page:概述  */
.m_zhengzhuangGaishu{}
.zhengzhuangGaishu_hd{}
.zhengzhuangGaishu_hd ul{ display: -webkit-box;}
.zhengzhuangGaishu_hd li{ -webkit-box-flex: 1; border-left: 1px solid #a0a0a0;}
.zhengzhuangGaishu_hd li:first-child{ border-left: none;}
.zhengzhuangGaishu_hd li.current a{ padding-bottom: 0; border-bottom: 5px solid #5db23d;}
.zhengzhuangGaishu_hd li a{ display:block; line-height: 30px; text-align: center; background: #fff; padding: 5px 0;}
.zhengzhuangGaishu_bd{}
.zhengzhuangGaishu_bd .mainTt span{ margin-top: 6px; margin-left: 4px;}
.zhengzhuangGaishu_bd .hd .thumb{ width: 81px; height: 81px; border: 1px solid #a6a6a6;}
.zhengzhuangGaishu_bd .hd .thumb img{ max-width: 100%;}
.zhengzhuangGaishu_bd .hd .disc{ width: 62%; line-height: 18px; margin-top: -4px;}
.zhengzhuangGaishu_bd .hd .disc a{ right: 0; bottom:0;}
.zhengzhuangGaishu_bd .bd{}
.zhengzhuangGaishu_bd .bd li{ float: left; width: 50%; line-height: 18px; padding: 0 0 0 28px; margin-bottom: 15px; font-size: 12px; background: url("../images/bg_listStyle_plus.png") no-repeat left center; background-size: 17px;}
.zhengzhuangGaishu_bd .bd li a{ color: #5db23d;}

/* 文章列表 */
.m_arcList{}
.arcList_hd{}
.arcList_bd{}
.arcList_bd li{ padding: 24px 0; border-bottom: 1px dotted #aaa; font-size: 12px;}
.arcList_bd li:last-child{ border-bottom: none;}
.arcList_bd li a{ color: #595757;}
.arcList_bd li a:active, .arcList_bd li a:hover{ color: #333; text-decoration: underline;}
.arcList_bd li h3{ line-height: 30px; margin-top: -4px; font-size: 15px; margin-bottom: 0;}
.arcList_bd li p{  font-size: 10px;}
.arcList_bd li strong.tt{ margin: 0 12px 0 -5px; font-size: 15px;}
.arcList_bd li span.count{ float:right; color: #595757;}
.m_arcList_listStyle .arcList_bd li{ padding-left: 28px; background: url("../../../public/images/bg_listStyle_circle.png") no-repeat 5px 30px; background-size: 11px 11px;}
/* 文章列表 end */
/* Page:概述 end */

/* Page:介绍 end */
.m_zhengzhuangIntro{ border-top: 1px solid #a6a6a6;}
.zhengzhuangIntro_hd{}
.zhengzhuangIntro_hd .thumb{ width: 81px; height: 81px ; border:1px solid #a6a6a6; background: #fff;}
.zhengzhuangIntro_hd .thumb img{ display: block;}
.zhengzhuangIntro_hd .disc{ width: 62%; line-height: 18px; margin-top: -4px;}
.zhengzhuangIntro_hd .disc a{ right: 0; bottom: 0;}
.zhengzhuangIntro_hd .moreInfo{ line-height: 20px; padding: 10px 0; margin-top: 19px; border-top: 1px dotted #acacac; }
.zhengzhuangIntro_hd .moreInfo span{ margin-right: 10px;}
.zhengzhuangIntro_hd .moreInfo span:last-child{ margin-right: 0;}
.zhengzhuangIntro_hd .ft{ background: #dcdcdc; line-height: 30px;}
.zhengzhuangIntro_bd{}

/* 文章容器 */
.m_arcModule{ margin-left: 5%; margin-right: 5%; padding: 0 15px 16px 15px;}
.arcModule_hd{}
.arcModule_bd li a{ color: #000;}
.arcModule_bd li a:hover, .arcModule_bd li a:active{ text-decoration: underline;}
.arcModule_arcBox{ color: #000;}
.arcModule_arcBox *{ margin-bottom: 6px; line-height: 22px;}
.arcModule_arcBox{}
/* 文章容器 end */

/* Page:介绍 end */

/* Page:经验 */
.m_zhengzhuangArcList{ padding: 25px 5% 20px 5%; border-top: 1px solid #a0a0a0;}
.zhengzhuangArcList_bd{}
.zhengzhuangArcList_bd .arcList{}
.zhengzhuangArcList_bd .arcList li{ margin-bottom: 25px; border:1px solid #a6a6a6; background: #fff;}
.zhengzhuangArcList_bd .arcList li:last-child{ margin-bottom: 0;}
.zhengzhuangArcList_bd .arcList li a{ display: block; padding: 14px 15px;}
.zhengzhuangArcList_bd .arcList li a:hover,
.zhengzhuangArcList_bd .arcList li a:active{ outline: 0; background-image: none; -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.125); box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.125);}
.zhengzhuangArcList_bd .arcList .thumb{ width: 40px; height: 35px; margin-right: 22px; border: 1px dotted #b5b5b5; background: #fff;}
.zhengzhuangArcList_bd .arcList .thumb img{ display: block; max-width: 100%;}
.zhengzhuangArcList_bd .arcList .disc{ width: 70%; margin-top: -4px;}
.zhengzhuangArcList_bd .arcList .disc dd{ margin-top: 2px;}
.zhengzhuangArcList_bd .arcList .arrow{ width: 10px; height: 17px; margin-top: 9px; background: url("../../../public/images/bg_rightArrow_thin.png") no-repeat; background-size: 10px 17px;}
/* Page:经验 end */

/* Page:问题 */
.m_questionList{ border-top: 1px solid #a6a6a6;}
.questionList_bd{}
.questionList_bd a{ margin-bottom: 25px; background: #fff; border: 1px solid #a6a6a6;}
.questionList_bd a:hover,
.questionList_bd a:active{ text-decoration: none;}
.questionList_bd a:last-child{ margin-bottom: 0;}
.questionList_bd dl{ padding: 15px 0 15px 15px;}
.questionList_bd dt{ color: #000; font-size: 1.5rem;}
.questionList_bd dd{ color: #000; font-size: 1.2rem; line-height: 1.8em;}
.questionList_bd dt h2{ padding: 0 0 0 11px; margin-left: -16px; border-left: 5px solid #5db23d;}
.questionList_bd dd .thumb{ float:left; width: 40px; height: 40px; margin-right: 12px; border: 1px dotted #cbcbcb; background: #fff;}
.questionList_bd dd .thumb img{ max-width: 100%; width: 100%;}
.questionList_bd dd .disc{ float:left; width: 76%; margin-top: -2px; color: #595757;}
/* Page:问题 end */

/* Page:热门文章 */
.m_hotArcDetail{}
.hotArcDetail_hd{}
.hotArcDetail_bd{ padding: 15px; margin: 0 5%;}
.hotArcDetail_bd *{ padding-bottom: 10px; line-height: 1.7em; color: #898989;}
/* Page:热门文章 end */

/* Page:药品 */
.m_referenceArcList{}
.referenceArcList_hd{}
.referenceArcList_hd h2{ margin-top: -2px;}
.referenceArcList_bd{}
.referenceArcList_bd li{ line-height: 30px; font-size: 15px;}
.referenceArcList_bd li a{ color: #000;}
.referenceArcList_bd li a:hover,
.referenceArcList_bd li a:active{ text-decoration: underline;}
/* Page:药品 end */

/* Page:专家答疑 */
.m_question{}
.question_hd{}
.question_bd{}
.question_bd .bestAnswer h2{ display: inline-block; line-height: 30px; padding: 0 12px; color: #fff; background: #f8b551;}
.question_bd .bestAnswer .answerBox *{ color: #898989; padding: 0 15px; line-height: 1.5em;}
.question_bd .illnessWiki{}
.question_bd .illnessWiki a:hover,
.question_bd .illnessWiki a:active{ text-decoration: underline;}
.question_bd .illnessWiki .disc{ font-size: 9px; line-height: 1.45em; color: #898989;}
.question_bd .answerList{}
.question_bd .answerList .item{ background: #fff; padding: 15px; margin-top: 15px; color: #898989;}
.question_bd .answerList .item:first-child{ margin-top: 0;}
.question_bd .answerList .item .author .thumb{ width: 25px; height: 25px; margin-right: 12px; border: 1px solid #777;}
.question_bd .answerList .item .author .thumb img{ display: block; max-width: 100%;}
.question_bd .answerList .item .author .name{ line-height: 25px; color: #000;}
.question_bd .answerList .item .author .name:hover,
.question_bd .answerList .item .author .name:active{ color: #5db23d;}
.question_bd .answerList .item .para{ line-height: 1.5em;}
.question_bd .answerList .item .para a{ color: #5db23d;}
.question_bd .referenceList ul li{ margin-top: 10px;}
.question_bd .referenceList li a:hover,
.question_bd .referenceList li a:active{ text-decoration: underline;}

/* Page:专家答疑 end */

